.cardClose {
    width: 106px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    
    border: 1px solid black;
    
    background-image: url('../../../../assets/img/CardClose.png');
}

