# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Durak
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Durak.Client/obj/Durak.Client.csproj.nuget.dgspec.json
Durak.Client/obj/Durak.Client.csproj.nuget.g.props
Durak.Client/obj/Durak.Client.csproj.nuget.g.targets
Durak.Client/obj/project.assets.json
Durak.Client/obj/project.nuget.cache
Durak.Client/obj/staticwebassets.pack.sentinel
Durak.Client/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Durak.Client/obj/Debug/net6.0/apphost.exe
Durak.Client/obj/Debug/net6.0/Durak.Client.AssemblyInfo.cs
Durak.Client/obj/Debug/net6.0/Durak.Client.AssemblyInfoInputs.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.assets.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.csproj.AssemblyReference.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.csproj.CoreCompileInputs.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.csproj.FileListAbsolute.txt
Durak.Client/obj/Debug/net6.0/Durak.Client.dll
Durak.Client/obj/Debug/net6.0/Durak.Client.GeneratedMSBuildEditorConfig.editorconfig
Durak.Client/obj/Debug/net6.0/Durak.Client.genruntimeconfig.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.GlobalUsings.g.cs
Durak.Client/obj/Debug/net6.0/Durak.Client.MvcApplicationPartsAssemblyInfo.cache
Durak.Client/obj/Debug/net6.0/Durak.Client.MvcApplicationPartsAssemblyInfo.cs
Durak.Client/obj/Debug/net6.0/Durak.Client.pdb
Durak.Client/obj/Debug/net6.0/staticwebassets.build.json
Durak.Client/obj/Debug/net6.0/ref/Durak.Client.dll
Durak.Infrastructure/bin/Debug/net6.0/Durak.Core.dll
Durak.Infrastructure/bin/Debug/net6.0/Durak.Core.pdb
Durak.Infrastructure/bin/Debug/net6.0/Durak.Infrastructure.deps.json
Durak.Infrastructure/bin/Debug/net6.0/Durak.Infrastructure.dll
Durak.Infrastructure/bin/Debug/net6.0/Durak.Infrastructure.pdb
Durak.Infrastructure/bin/Debug/net6.0/Durak.Infrastructure.runtimeconfig.json
Durak.Infrastructure/bin/Debug/net6.0/ref/Durak.Infrastructure.dll
Durak.Client/bin/Debug/net6.0/appsettings.Development.json
Durak.Client/bin/Debug/net6.0/appsettings.json
Durak.Client/bin/Debug/net6.0/Durak.Client.deps.json
Durak.Client/bin/Debug/net6.0/Durak.Client.dll
Durak.Client/bin/Debug/net6.0/Durak.Client.exe
Durak.Client/bin/Debug/net6.0/Durak.Client.pdb
Durak.Client/bin/Debug/net6.0/Durak.Client.runtimeconfig.json
Durak.Client/bin/Debug/net6.0/Durak.Core.dll
Durak.Client/bin/Debug/net6.0/Durak.Core.pdb
Durak.Client/bin/Debug/net6.0/Durak.Infrastructure.dll
Durak.Client/bin/Debug/net6.0/Durak.Infrastructure.pdb
Durak.Client/bin/Debug/net6.0/MediatR.dll
Durak.Client/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.NodeServices.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.SpaServices.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.SpaServices.Extensions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
Durak.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
Durak.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
Durak.Client/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Identity.Client.dll
Durak.Client/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
Durak.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
Durak.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
Durak.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Durak.Client/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
Durak.Client/bin/Debug/net6.0/Microsoft.OpenApi.dll
Durak.Client/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Durak.Client/bin/Debug/net6.0/Newtonsoft.Json.dll
Durak.Client/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Durak.Client/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Durak.Client/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Durak.Client/bin/Debug/net6.0/System.Collections.Immutable.dll
Durak.Client/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Durak.Client/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
Durak.Client/bin/Debug/net6.0/System.Drawing.Common.dll
Durak.Client/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
Durak.Client/bin/Debug/net6.0/System.Net.WebSockets.WebSocketProtocol.dll
Durak.Client/bin/Debug/net6.0/System.Runtime.Caching.dll
Durak.Client/bin/Debug/net6.0/System.Runtime.CompilerServices.Unsafe.dll
Durak.Client/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Durak.Client/bin/Debug/net6.0/System.Security.Permissions.dll
Durak.Client/bin/Debug/net6.0/System.Windows.Extensions.dll
Durak.Client/bin/Debug/net6.0/ClientApp/package-lock.json
Durak.Client/bin/Debug/net6.0/ClientApp/package.json
Durak.Client/bin/Debug/net6.0/ClientApp/public/manifest.json
Durak.Client/bin/Debug/net6.0/ref/Durak.Client.dll
Durak.Client/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Durak.Client/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Durak.Client/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Durak.Client/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Durak.Client/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Durak.Client/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Durak.Client/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Core.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.AssemblyInfo.cs
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.AssemblyInfoInputs.cache
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.assets.cache
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.csproj.AssemblyReference.cache
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Core.Infrastructure/obj/Debug/net6.0/Core.Infrastructure.GlobalUsings.g.cs
Durak.Core/bin/Debug/net6.0/Durak.Core.deps.json
Durak.Core/bin/Debug/net6.0/Durak.Core.dll
Durak.Core/bin/Debug/net6.0/Durak.Core.pdb
Durak.Core/bin/Debug/net6.0/ref/Durak.Core.dll
Durak.Core/obj/Durak.Core.csproj.nuget.dgspec.json
Durak.Core/obj/Durak.Core.csproj.nuget.g.props
Durak.Core/obj/Durak.Core.csproj.nuget.g.targets
Durak.Core/obj/project.assets.json
Durak.Core/obj/project.nuget.cache
Durak.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Durak.Core/obj/Debug/net6.0/Durak.Core.AssemblyInfo.cs
Durak.Core/obj/Debug/net6.0/Durak.Core.AssemblyInfoInputs.cache
Durak.Core/obj/Debug/net6.0/Durak.Core.assets.cache
Durak.Core/obj/Debug/net6.0/Durak.Core.csproj.AssemblyReference.cache
Durak.Core/obj/Debug/net6.0/Durak.Core.csproj.CoreCompileInputs.cache
Durak.Core/obj/Debug/net6.0/Durak.Core.csproj.FileListAbsolute.txt
Durak.Core/obj/Debug/net6.0/Durak.Core.dll
Durak.Core/obj/Debug/net6.0/Durak.Core.GeneratedMSBuildEditorConfig.editorconfig
Durak.Core/obj/Debug/net6.0/Durak.Core.GlobalUsings.g.cs
Durak.Core/obj/Debug/net6.0/Durak.Core.pdb
Durak.Core/obj/Debug/net6.0/ref/Durak.Core.dll
Durak.Infrastructure/obj/Durak.Infrastructure.csproj.nuget.dgspec.json
Durak.Infrastructure/obj/Durak.Infrastructure.csproj.nuget.g.props
Durak.Infrastructure/obj/Durak.Infrastructure.csproj.nuget.g.targets
Durak.Infrastructure/obj/project.assets.json
Durak.Infrastructure/obj/project.nuget.cache
Durak.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.AssemblyInfo.cs
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.AssemblyInfoInputs.cache
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.assets.cache
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.csproj.AssemblyReference.cache
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.csproj.CopyComplete
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.csproj.CoreCompileInputs.cache
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.csproj.FileListAbsolute.txt
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.dll
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.genruntimeconfig.cache
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.GlobalUsings.g.cs
Durak.Infrastructure/obj/Debug/net6.0/Durak.Infrastructure.pdb
Durak.Infrastructure/obj/Debug/net6.0/ref/Durak.Infrastructure.dll
Core.Infrastructure/obj/Core.Infrastructure.csproj.nuget.dgspec.json
Core.Infrastructure/obj/Core.Infrastructure.csproj.nuget.g.props
Core.Infrastructure/obj/Core.Infrastructure.csproj.nuget.g.targets
Core.Infrastructure/obj/project.assets.json
Core.Infrastructure/obj/project.nuget.cache
.vs/Durak/project-colors.json
.vs/Durak/DesignTimeBuild/.dtbcache.v2
.vs/Durak/v17/.futdcache.v1
.vs/Durak/v17/.suo
.vs/Durak/config/applicationhost.config
Durak.Client/bin/Debug/net6.0/AutoMapper.dll
Durak.Client/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
Durak.Client/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Durak.Client/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
Durak.Client/Properties/launchSettings.json
Durak.Client/Properties/launchSettings.json
Durak.Client/Durak.Client.csproj.user
Durak.Client/Program.cs
Durak.Client/Properties/launchSettings.json
Durak.Client/Program.cs
Durak.Client/Program.cs
