.loginForm {
    width: 100%;
    max-width: 350px;
    height: 250px;
    background: green;
    border: 10px solid #78401b;
}

.h3 {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}

.loginForm_inner {
    font-size: 20px;
    padding-top: 30px;
}

.login {
    margin-left: 33px;
}

.submit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;

    margin: 20px 0 0 125px;



}