.gamePlace {
  width: 90%;
  height: 70vh;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*margin: 0 auto;*/

  border: 50px solid #78401b;
  border-radius: 100px;
}
.cards {
  display: flex;
}

.actionPanel{
    display: flex;
    justify-content: center;
}