.cardOpen {
    width: 106px;
    height: 150px;


    border-radius: 8px;

    background: white;

    margin-top: 25px;
    margin-right: 10px;
}

.cardOpen:hover {
    margin-top: 20px;
    transition: 0.2s;
}

