.gameList {
    width: 100%;
    max-width: 400px;
    height: 500px;
    border-radius: 10px;

    background: white;
}

.main {
    width: 400px;
    margin: 0 auto;
}


.userData_h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #656565;

}

.playerList {
    width: 300px;
    height: 150px;
    margin: 0 15px;
}

.buttonGame {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

}

.RequestAllGames {
    width: 120px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    /*color: white;*/
    /*background: radial-gradient(#1d97d5, #068bce);*/
    /*border: 0;*/
    /*cursor: pointer;*/
}

.startGame {
    width: 120px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    /*color: white;*/
    /*background: radial-gradient(#1d97d5, #068bce);*/
    /*border: 0;*/
    /*cursor: pointer;*/

}

.div_logout {
    display: flex;
    justify-content: center;
}

.logout {
    width: 120px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: radial-gradient(#1d97d5, #068bce);
    border: 0;
    cursor: pointer;

}

.gamesContainer {
    margin: 10px auto 0;
    width: 350px;
    height: 200px;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #656565;
    overflow: auto;
}

.gamesContainer :hover {
    cursor: pointer;
}

.selectedGame {
    background-color: black;
    color: lavender;
    font-family: 'Open Sans', sans-serif;

}

.notSelected {
    background-color: lavender;
    font-family: 'Open Sans', sans-serif;
        
}

