.gameList {
    width: 100%;
    height: 100vh;

    

    background: green;
    border: 10px solid #78401b;
}



.playerList {
    width: 300px;
    height: 150px;
    margin: 0 15px;
}

.startGame {
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
}
.gamesContainer {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}
.gamesContainer :hover {
cursor: pointer;
}
.selectedGame{
    background-color: black;
    color: lavender;
    
}

 .notSelected{background-color: lavender;}